extends base.pug

block content   
     if(errormessage)
        span=errormessage
     form(method="POST")
        input(name="name", placeholder="Name", required, type="text", value=loggedInUser.name )
        input(name="email", placeholder="Email", required, type="email", value=loggedInUser.email )
        input(name="username", placeholder="Username", required, type="text", value=loggedInUser.username )
        input(name="location", placeholder="Location", type="text", value=loggedInUser.location )
        input(value="Upload" type="submit")