extends base.pug

block content   
    div#fullScreen(data-id=video._id).videoContainer
        video(src="/" + video.videoUrl).video
        div.videoControlBox#videoShowing
            div.videoControlBoxFir
                input#time.time(type="range", min="0", step="1", value="0")    
            div.videoControlBoxSec  
                div.subBoxFir         
                    button#playBtn.playBtn 
                        i.fas.fa-play 
                    button#muteBtn
                        i.fas.fa-volume-up 
                    input#volume(type="range", min="0", max="1", step="0.1", value="0.5")
                    div#videoControls.videoControls 
                        span#currnTime 00:00
                        span   /  
                        span#totalTime 00:00 
                div.subBoxSec  
                    button#fullScreenBtn
                        i.fas.fa-expand
    div.video_datacase
        div.video_data
            div.video_title_flexbox
              span.video_data_title=video.title
              small.video_data_owner Upload By 
                 a(href=`/users/${video.owner._id}`)=video.owner.name    
            div.video_subcase
               div.video_count
                 span 조회수 : #{video.meta.views} 회 
               small.video_data_time=`최초 공개 : ${new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}`
            div.video_des   
             span.video_data_description=video.description
        div 
        if String(video.owner._id) === String(loggedInUser._id)
            a.video_setting(href=`${video.id}/edit`) Edit Video &rarr;
            a.video_setting(href=`${video.id}/delete`) Delete Video &rarr;
        if loggedIn 
            div.mentContainer
                div.commentBox
                    form.commentForm#commentForm
                        textarea.mentForm#commentForm(cols="150", rows="1", placeholder="Write a comment...")
                        button Add Comment
    div.commentLine
        ul 
            each comment in video.comment.reverse()
                li.video__comment(data-id=comment.id) 
                    i.fas.fa-user 
                    span  #{comment.text}
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span.deleteBtn ❌
 

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
     script(src="/static/js/commentSection.js")