extends base.pug

block content   
    div#fullScreen.videoContainer
        video(src="/" + video.videoUrl).video
        div.videoControlBox#videoShowing
            div.videoControlBoxFir
                input#time.time(type="range", min="0", step="1", value="0")    
            div.videoControlBoxSec  
                div.subBoxFir         
                    button#playBtn.playBtn 
                        i.fas.fa-play 
                    button#muteBtn
                        i.fas.fa-volume-up 
                    input#volume(type="range", min="0", max="1", step="0.1", value="0.5")
                    div#videoControls.videoControls 
                        span#currnTime 00:00
                        span  / 
                        span#totalTime 00:00 
                div.subBoxSec  
                    button#fullScreenBtn
                        i.fas.fa-expand

//-
    div
        span=video.description
        br
        small=video.createdAt
        small #{loggeInUser}
    div 
        small Upload By 
            a(href=`/users/${video.owner._id}`)=video.owner.name          
        br
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/static/js/videoPlayer.js")